@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Light theme colors */
    --background-color-light: #C7E7FA;
    --text-color-light: #000000;
    --sidebar-item-light: #E6ECFE;
    --backgound-div-light: #EFF9FF;
    --hover-sidebar-light: #EEF3FF;
    --icon-sidebar-light: #4460F1;
    --span-sidebar-active-light: #4460F1;
    /* Dark theme colors */
    --background-color-dark: #0A0F12;
    --text-color-dark: #ffffff;
    --primary-color-dark: #6c757d;
    --background-div-dark: #181822;
    --hover-sidebar-dark: #1a2641;
    --sidebar-item-dark: #4460F1;
    --icon-sidebar-dark: #EFF9FF;
    --span-sidebar-active-dark: #ffffff;
}

[data-bs-theme="light"] {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --primary-color: var(--primary-color-light);
    --background-div: var(--backgound-div-light);
    --sidebar-item: var(--sidebar-item-light);
    --hover-sidebar-item: var(--hover-sidebar-light);
    --icons-color: var(--icon-sidebar-light);
    --span-sidebar-active: var(--span-sidebar-active-light);
}

[data-bs-theme="dark"] {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --primary-color: var(--primary-color-dark);
    --background-div: var(--background-div-dark);
    --sidebar-item: var(--sidebar-item-dark);
    --hover-sidebar-item: var(--hover-sidebar-dark);
    --icons-color: var(--icon-sidebar-dark);
    --span-sidebar-active: var(--span-sidebar-active-dark);
}


a {
    text-decoration: none;
}

li {
    list-style: none;

}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

.wrapper {
    display: flex;
    margin-top: 70px;
    height: calc(100vh - 78px);
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.55s ease-in-out;
}

#main-navbar {
    background-color: var(--background-div);
    border-bottom: 1px solid rgb(229, 234, 239);
    border-radius: 0 0 15px 15px;
}

#page-content-wrapper {
    border-left: 1px solid rgb(229, 234, 239);
    margin-top: 20px;
    padding: 20px;
    flex: 1;
    /* background-color: var(--background-div); */
    border-radius: 15px;
}

/* SIDE BAR */
#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(229, 234, 239);
    margin: 20px 15px 0px 0px;
    background-color: var(--background-div);
    border-radius: 15px;
}

.sidebar-item.active {
    background-color: var(--sidebar-item);
    border-radius: 20px;
    margin: 0 5px;
}

.sidebar-item.active a span {
    font-weight: bolder;
    font-size: 19px;
    color: var(--span-sidebar-active) !important;
}

.sidebar-item:hover {
    background-color: var(--hover-sidebar-item)
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.3rem;
}

i {
    font-size: 1.9rem;
    color: var(--icons-color) !important
}

.sidebar-logo p {
    margin-top: 15px;
    font-size: 1.3rem;
    font-weight: 1000;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: 1rem 1rem;
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    white-space: nowrap;
    margin: 15px 5px 5px 5px;

}

.sidebar-link i {
    font-size: 1.45rem;
    margin-right: 0.95rem;
}

a.sidebar-link:hover {
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

/* Sub link */
/* #sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;

    padding: 30;
    min-width: 15rem;
    display: none;
}
#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}
#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}
#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
} */
/* SIDE BAR */

/* Theme Toggler */
.theme-toggle {
    position: fixed;
    top: 50%;
    transform: translateY(-65%);
    text-align: center;
    z-index: 10;
    right: 0;
    left: auto;
    border: none;

}

html[data-bs-theme="dark"] .theme-toggle .fa-sun,
html[data-bs-theme="light"] .theme-toggle .fa-moon {
    cursor: pointer;
    padding: 10px;
    display: block;
    font-size: 1.25rem;

}

html[data-bs-theme="dark"] .theme-toggle .fa-moon {
    display: none;
}

html[data-bs-theme="light"] .theme-toggle .fa-sun {
    display: none;
}


html[data-bs-theme="dark"] #sidebar a,
html[data-bs-theme="dark"] #sidebar span {
    color: white;
    transition: color 0.3s;
    border-radius: 5px;
}

html[data-bs-theme="light"] #sidebar a,
html[data-bs-theme="light"] #sidebar span {
    color: black;
    transition: color 0.3s;
    border-radius: 5px;
}

/* Theme Toggler */

.row {
    margin-bottom: 10px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.9rem;

}

/* PAGE CONTENT */
.card1 {
    background-color: #00C168;
}

.card2 {
    background-color: #01BEFE;
}

.card3 {
    background-color: #FFC027;
}

.card4 {
    background-color: #FF684D;
}

/* PAGE CONTENT */

/* HEADER */
.navbar-nav .notification {
    position: relative;
}

.navbar-nav .notification .num {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 12px;
    border: 2px solid #F9F9F9;
    background: #DB504A;
    color: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

/* HEADER */